@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
   
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #f9f9f9;
}

.col-3 {
    width: 300px;
    padding: 5px;
    overflow: hidden;
    margin: auto;
}

.col-9 {
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
}

.hero {
    width: 900px;
    min-height: 290px;
    background-image: url("cafe01.jpg");
    background-position: center center;
    background-size:cover;
}

.menu {
    width: 900px;
    padding: 0 20px;
    overflow: hidden;
    background: #330066;
    margin-bottom: 20px;
}

.menu h1 {
    margin-top: 10px;
    color: #f9f9f9;
    font-size: 40px;
    font-family:'Josefin Sans', sans-serif;
    font-weight: 300;
    float: left;
    margin-right: 24px;
}

nav {
    float: right;
}

nav li {
    margin-top: 17px;
    float: left;
    list-style-type: none;
    font-family:'Josefin Sans', sans-serif;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 8px;
    display: block;
    transition: 0.5s;
    border-bottom: 0 solid #f9f9f9;
}

nav a:hover {
    background: #fff;
    color: #ff4c4c;
}

.about {
    text-align: center;
    margin-bottom: 20px;
    background-color: "#330066"
}

S .about h2 {
    color: #330066;
    margin-bottom: 20px;
    font-family:'Josefin Sans', sans-serif;
    
}

.article {
    min-height: 200px;
}

.article img {
    width: 100%;
    height: 192px;
}

.article h3 {
    color: #330066;
    margin-bottom: 20px;
    font-family:'Josefin Sans', sans-serif;
}

.article p {
    font-size: 14px;
    margin-bottom: 6px;
}

